@tailwind base;
@tailwind components;
@tailwind utilities;

.lategram_light {
  --primary: #ffffff;
  --primary_text: #1f1f1f;
  --primary_accent: #c4f82a;
  --primary_highlight:#333333;
}

.lategram_dark {
  --primary: #1f1f1f;
  --primary_text: #ffffff;
  --primary_accent: #c4f82a;
  --primary_highlight:#333333;
}
